<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Sciologer</display-name>
  <servlet>
    <servlet-name>CVResults</servlet-name>
    <servlet-class>bales.CVResults</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileServer</servlet-name>
    <servlet-class>bales.FileServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CVResults</servlet-name>
    <url-pattern>/CVResults</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileServer</servlet-name>
    <url-pattern>/getFile</url-pattern>
  </servlet-mapping>
  <login-config>
    <auth-method>NONE</auth-method>
    <realm-name>sciologer</realm-name>
  </login-config>
  <servlet>
    <description></description>
    <display-name>GetStatus</display-name>
    <servlet-name>GetStatus</servlet-name>
    <servlet-class>bales.GetStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStatus</servlet-name>
    <url-pattern>/GetStatus</url-pattern>
  </servlet-mapping>
</web-app>